.HService {
  padding: 5rem 0rem;
  width: 100%;
  background-color: #f1f1f1;
}

.HService-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hService-heading {
  text-align: center;
}
.hService-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 3rem;
}

.hservice-card {
  text-align: center;
  border-bottom: 1px solid rgb(209, 209, 209);
  border-right: 1px solid rgb(209, 209, 209);
  padding: 2rem 10px;
  cursor: pointer;
}
.hservice-card h4{
  font-size: 16px;
}
.hservice-card:hover {
  background-color: #f1f1f1;
}

.hservice-card:nth-child(n + 6) {
  border-bottom: none;
}

.hservice-card:nth-child(5),
.hservice-card:nth-child(10) {
  border-right: none;
}

.hsrevices-image img {
  width: 30%;
  object-fit: cover;
  margin-bottom: 1rem;
  aspect-ratio: 2/2;
}

.hServices-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hServices-button a{
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  background-color: #673de6;
  color: white;
  border-radius: 8px;
  margin-top: 2rem;
}

@media (min-width: 1200px) {
  .HService-main {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 540px) {
  .hService-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
  }

  .hservice-card:nth-child(n + 6) {
    border-bottom: 1px solid rgb(209, 209, 209);
  }
  .hservice-card:nth-child(even) {
    border-right: none;
  }
  .hservice-card:nth-child(5) {
    border-right: 1px solid rgb(209, 209, 209);
  }
  .hservice-card:nth-child(n + 9) {
    border-bottom: none;
  }
}
