.formbox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.formbox select {
    border-radius: 8px;
    border: none;
    padding: 15px;
}
.formbox input {
    border-radius: 8px;
    border: none;
    padding: 15px;
}
.formbox button {
    background-color: #673de6;
    color: black;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
}