.Languages {
  padding: 6rem 0rem;
  width: 100%;
  /* background-color: #f1f1f1; */
  border-bottom: 1px solid #cecece;
}

.Languages-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* display: flex; */
}

.languages-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}
.languages-box a{
  text-decoration: none;
}

.languages-card {
  border-radius: 8px;
  background-color: #00678612;
  color: rgb(63, 63, 63);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.languages-card:hover {
  background-color: #a691e4;
  color: white;
}

@media (min-width: 1200px) {
  .Languages-main {
    max-width: 1140px;
  }
}
