.Languages {
  padding: 5rem 0rem;
  width: 100%;
  border-bottom: 1px solid #cecece;
}
.Languages img {
  width: 100%;
  height: 55vh;
  object-fit: cover;
  filter: grayscale();
}

.Languages-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
}

.Languages-main h1 {
  color: #673de6;
}
.Languages-main h1:after {
  content: "";
  margin-top: 8px;
  display: flex;
  height: 2px;
  width: 20%;
  border-radius: 50px;
  background-color: #673de6;
}

.languages-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}
.languages-box a {
  text-decoration: none;
}

.languages-card {
  border-radius: 8px;
  background-color: #00678612;
  color: rgb(63, 63, 63);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.languages-card:hover {
  background-color: #a691e4;
  color: white;
}

@media (min-width: 1200px) {
  .Languages-main {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 540px) {
  .languages-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
