.LanguageCard {
  padding: 5rem 0rem;
  width: 100%;
  border-bottom: 1px solid #cecece;
}
/* .LanguageCard img {
  width: 100%;
  height: 55vh;
  object-fit: cover;
  filter: grayscale();
} */

.LanguageCard-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
}

.LanguageCard-box-left h1 {
  color: #673de6;
}
.LanguageCard-box-left h1:after {
  content: "";
  margin-top: 2px;
  margin-bottom: 2rem;
  display: flex;
  height: 2px;
  width: 20%;
  border-radius: 50px;
  background-color: #673de6;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 24px;
}

.br-padding {
  display: block;
  padding-bottom: 1rem; /* Adjust as needed */
}

.LanguageCard-box-left {
  width: 70%;
}

.LanguageCard-box-right {
  background-color: #673de6;
  border-radius: 8px;
  margin-top: 2rem;
  padding: 2rem;
  width: 30%;
  height: 100%;
}

@media (min-width: 1200px) {
  .LanguageCard-main {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 540px) {
  .LanguageCard-main {
    flex-wrap: wrap;
  }
  .LanguageCard-box-right,
  .LanguageCard-box-left {
    width: 100%;
  }
}
