.HotelDetail{
    border-bottom: 1px solid rgb(233, 233, 233);
}

.blog-banner img {
  width: 100%;
  filter: grayscale();
}



.blogdetail-head {
  text-align: center;
  margin: 2rem 0;
}

.blog-body-detail img{
  width: 100%;
  filter: grayscale();
}
