.blog2-wave{
    background-color: white;
    position: relative;
    rotate: 180deg;
    height: 200px;
    
  }
  .blog2-wave svg{
    position: absolute;
    bottom: 0%;
    z-index: 1;
  }
  .blog2-wave svg path{
    fill: #f1f1f1;
  }