.TermCondition {
    padding: 6rem 0rem;
    width: 100%;
    border-bottom: 1px solid #cecece;
  }
  
  .TermCondition-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .TermCondition-main h1 ,
  .TermCondition-main h3 ,
  .TermCondition-main h5 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #673de6;
  }
  .TermCondition-main h1:after {
    content: "";
    margin-top: 2px;
    display: flex;
    height: 2px;
    width: 15%;
    border-radius: 50px;
    background-color: #673de6;
  }
  .TermCondition-main h3:after ,
  .TermCondition-main h5:after {
    content: "";
    margin-top: 2px;
    display: flex;
    height: 2px;
    width: 10%;
    border-radius: 50px;
    background-color: #673de6;
  }

  .TermCondition-main p span{
    font-weight: 700;
  }

  .term-add{
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .term-add p{
    margin: 0;
  }
 

  @media (min-width: 1200px) {
    .TermCondition-main {
      max-width: 1140px;
    }
  }